.blog {
  padding-top: 80px;
  background-color: #f5f5f5;
  @media screen and (max-width: 1024px) {
    padding-top: 60px;
  }
  &__article {
    max-width: 800px;
    margin: 120px auto;
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin: 50px auto;
    }
    code {
      display: block;
      padding: 12px 20px;
      background-color: #f5f5f5;
    }
    img {
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }
    h1 {
      font-size: 48px;
      font-weight: 400;
      margin: 24px 0 0;
      @media screen and (max-width: 1024px) {
        font-size: 24px;
        padding-left: 20px;
      }
    }
    span {
      color: rgba(#000, .32);
      font-size: 14px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__content {
    line-height: 1.4;
    @media screen and (max-width: 1024px) {
      padding: 0 20px;
    }
    /deep/ h2 {
      border-bottom: 1px solid rgba(#000, .08);
      margin: 24px 0 12px;
    }
    /deep/ h3 {
      margin: 16px 0 12px;
    }
    /deep/ p {
      margin: 12px 0 6px;
      @media screen and (max-width: 1024px) {
        line-height: 1.5;
      }
    }
    /deep/ ul {
      list-style-type: disc;
      padding-left: 40px;
    }
  }

  section {
    max-width: 1200px;
    margin: 40px auto;
    @media screen and (max-width: 1024px) {
      margin: 20px auto;
    }

    h1 {
      font-size: 48px;
      font-weight: 400;
      @media screen and (max-width: 1024px) {
        font-size: 24px;
        padding-left: 20px;
      }
    }

    ul {
      max-width: 800px;
      margin: 40px auto;
      @media screen and (max-width: 1024px) {
        margin: 20px auto;
      }
    }

    li {
      background-color: #fff;
      margin-bottom: 40px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }

      article {
        padding: 20px;
      }

      img {
        width: 100%;
        transition: filter .2s ease;

        &:hover {
          filter: brightness(60%);
        }
      }

      h2 {
        font-size: 32px;
      }

      span {
        color: rgba(#000, .32);
        font-size: 14px;
      }

      p {
        margin: 12px 0 0;
        line-height: 1.4;
      }
    }
  }
}
