footer {
  background-color: $dark;
  color: #fff;
  padding: 12px 0;
  @media screen and (max-width: 1024px) {
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
  }
  svg {
    margin: 0 4px;
    display: inline-block;
  }
  ul {
    @include flex(row, flex-start, center);
    @media screen and (max-width: 1024px) {
      display: none;
    }
    li {
      margin-right: 12px;
      a {
        color: #fff;
      }
    }
  }
  .container {
    @include flex(row, space-between, center);
    min-height: 50px;
  }
}
