html {
  font-family: 'Roboto';
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgba(#000, 0.87);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  li {
    &:last-of-type {
      margin-right: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway';
}

a {
  color: $primary;
  transition: color 0.2s ease;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    color: darken($primary, 10%);
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  @media only screen and (max-width: 1024px) {
    padding: 0 8px;
  }
}

.vue-logo {
  color: #42b883;
}
