header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.75));
  z-index: 9;
  @media screen and (max-width: 1024px) {
    background-image: none;
    background: #fff;
    box-shadow: 0 2px 12px rgba(#000, .08);
    height: 50px;
    a {
      color: rgba(#000, .54)!important;
    }
  }
  &.blog__header {
    background-image: none;
    background: #fff;
    box-shadow: 0 2px 12px rgba(#000, .08);
    a {
      color: rgba(#000, .54);
    }
  }
  .logo {
    margin-right: auto;
    img {
      height: 60px;
      width: auto;
      border-radius: 4px;
      margin-top: 5px;
      @media screen and (max-width: 1024px) {
        height: 40px;
      }
    }
  }
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  ul {
    @include flex(row, flex-end, center);
    min-height: 70px;
    @media screen and (max-width: 1024px) {
      padding-right: 20px;
      min-height: 50px;
    }
    li {
      margin-right: 24px;
      a {
        color: #fff;
      }
      .nuxt-link-exact-active {
        color: $primary!important;
        &:hover {
          color: darken($primary, 10%);
        }
      }
    }
  }
}
