<template>
  <section class="contact">
    <div class="container container--split">
      <h2>
        <span class="heading">Kontakt</span>
      </h2>
    </div>
    <div class="container">
      <form v-if="!status" @submit="handleEmail">
        <input v-model="email" type="email" placeholder="Email">
        <textarea v-model="message" rows="4" placeholder="Wiadomość" />
        <input type="submit" value="Wyślij" class="button">
      </form>
      <h3 v-if="status">{{ status === 'OK' ? 'Dziękuję za wiadomość, odpowiem najszybciej jak to będzie możliwe' : 'Błąd, skontaktuj się ze mną w sposób tradycyjny, poprzez adres: sobota.jacob@gmail.com' }}</h3>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      message: '',
      status: ''
    }
  },
  methods: {
    handleEmail (e) {
      e.preventDefault()
      const emailTest = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      if(this.email && this.message && emailTest.test(this.email)) {       
        Email.send({
          Host : this.$store.state.mailHost,
          Username : this.$store.state.mailUsername,
          Password : this.$store.state.mailApi,
          To : this.$store.state.mail,
          From : this.email,
          Subject : this.email,
          Body : this.message
        }).then(message => this.status = message)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .contact {
    margin: 60px auto;
    h3 {
      width: 80%;
      margin-left: 20%;
      height: 156px;
      line-height: 1.4;
    }
    form {
      width: 80%;
      margin-left: 20%;
      @media screen and (max-width: 1024px) {
        width: 100%;
        margin-left: 0;
      }
    }
    input {
      height: 48px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid rgba(#000, .16);
      font-family: 'Roboto';
      text-indent: 16px;
    }
    textarea {
      border-radius: 4px;
      width: 100%;
      border: 1px solid rgba(#000, .16);
      margin: 12px 0;
      text-indent: 16px;
      font-family: 'Roboto';
      padding-top: 12px;
    }
    .button {
      color: #fff;
      font-weight: 500;
      cursor: pointer;
      float: right;
      background-color: #e91e63;
      outline: 0;
      border: none;
      font-size: 16px;
      width: 120px;
      height: 40px;
      border-radius: 4px;
      transition: background-color .2s ease;
      text-indent: 0;
      &:hover {
        background-color: #c1134e;
      }
    }
  }
</style>
