<template>
  <footer>
    <div class="container">
      <p>
        Strona
        <nuxt-link to="/">JacobSobota.pl</nuxt-link>
        <span>została</span>
        <font-awesome-icon :icon="['fas', 'code']"/>
        <span>z</span>
        <font-awesome-icon :icon="['fas', 'heart']"/>
        <span>przez</span>
        <a :href="$store.state.linkedin" rel="nofollow">Jacob Sobota</a>
        <span>bazując na technologii</span>
        <font-awesome-icon :icon="['fab', 'vuejs']" class="vue-logo"/>
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
}
</script>
