<template>
  <main class="blog">
    <Header :data="menu" class="blog__header" />
    <section>
      <h1>Blog o tworzeniu stron www</h1>
      <ul>
        <li v-for="(item, index) in $store.state.articles" :key="index">
          <nuxt-link :to="item.url">
            <img :src="item.image + '.jpeg'" :alt="item.title">
          </nuxt-link>
          <article>
            <h2>
              <nuxt-link :to="item.url">{{ item.title }}</nuxt-link>
            </h2>
            <span>Napisane przez JacobSobota w dniu {{ item.date }}</span>
            <p>{{ item.excerpt }}</p>
          </article>
        </li>
      </ul>
    </section>
    <Footer />
  </main>
</template>

<script>
import Header from '~/components/Header'
import Footer from '~/components/Footer'

export default {
  components: {
    Header,
    Footer
  },
  data() {
    return {
      menu: [
        {
          name: 'Blog',
          url: '/blog/'
        }
      ]
    }
  },
  head () {
    return {
      title: 'Blog o tworzeniu stron www - JacobSobota.pl',
      meta: [
        {
          name: 'description',
          content: 'Blog zawierający bogate w treść i ubogie w lanie wody artykuły z tematyki tworzenia stron www. Serdecznie zapraszam Jacob Sobota'
        }
      ]
    }
  }
}
</script>
