<template>
  <main>
    <Header :data="menu" class="blog__header" />
    <article class="blog__article">
      <img :src="article.image + '.jpeg'" :alt="article.title">
      <h1>{{ article.title }}</h1>
      <span>Napisane przez JacobSobota w dniu {{ article.date }}</span>
      <div class="blog__content" v-html="article.content" />
    </article>
    <Footer />
  </main>
</template>

<script>
import Header from '~/components/Header'
import Footer from '~/components/Footer'

export default {
  async fetch ({ store, params, route }) {
    await store.dispatch('getArticle', route.path)
  },
  components: {
    Header,
    Footer
  },
  data () {
    return {
      menu: [
        {
          name: 'Blog',
          url: '/blog/'
        }
      ]
    }
  },
  computed: {
    article () {
      return this.$store.state.article
    }
  },
  head () {
    return {
      title: this.article.seo.title,
      meta: [
        {
          name: 'description',
          content: this.article.seo.description
        }
      ]
    }
  }
}
</script>
