<template>
  <main class="homepage">
    <Header :data="menu" />
    <HomeIntro />
    <HomeDescription />
    <HomeJobs />
    <HomeEducation />
    <HomeSkills />
    <HomeProjects />
    <Contact />
    <Footer :data="menu" />
  </main>
</template>

<script>
import Header from '~/components/Header'
import Footer from '~/components/Footer'
import HomeIntro from '~/components/Homepage/Intro'
import HomeDescription from '~/components/Homepage/Description'
import HomeJobs from '~/components/Homepage/Jobs'
import HomeEducation from '~/components/Homepage/Education'
import HomeProjects from '~/components/Homepage/Projects'
import HomeSkills from '~/components/Homepage/Skills'
import Contact from '~/components/Contact'

export default {
  components: {
    Header,
    Footer,
    HomeIntro,
    HomeDescription,
    HomeJobs,
    HomeEducation,
    HomeSkills,
    HomeProjects,
    Contact
  },
  data() {
    return {
      menu: [
        {
          name: 'Blog',
          url: '/blog/'
        }
      ]
    }
  },
  head () {
    return {
      meta: [
        {
          property: 'og:title',
          content: 'Jacob Sobota - tworzenie mobilnych stron internetowych z optymalizacją SEO'
        },
        { property: 'og:site_name', content: 'Jacob Sobota' },
        {
          property: 'og:description',
          content: 'Tworzenie mobilnych stron www wraz z optymalizacją SEO. Strony dostosowywane do potrzeb klienta, bez wciskania kitu! - Jacob Sobota'
        },
        {
          property: 'og:image',
          content: 'https://www.jacobsobota.pl/jacob_sobota_logo.png'
        },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: 'https://www.jacobsobota.pl' }
      ],
      script: [
        {
          type: 'application/ld+json',
          innerHTML: '{"@context":"http://schema.org/","@type":"WebSite","name":"Jacob Sobota","url":"https://www.jacobsobota.pl"}'
        }
      ]
    }
  }
}
</script>
