<template>
  <section class="homepage__list homepage__list--last">
    <div class="container container--split">
      <h2>
        <span class="heading">EDUKACJA</span>
      </h2>
      <div>
        <article>
          <h3>Politechnika Rzeszowska im. Ignacego Łukasiewicza</h3>
          <h4>
            <i>Informatyka o specjalności „Informatyka w Przedsiębiorstwie”</i> •
            <span>2011 – 2015</span>
          </h4>
          <p>
            Studia inżynierskie I stopnia na kierunku Informatyka dostarczyły mi rozległej wiedzy teoretycznej oraz praktycznej z wielu gałęzi informatyki. Rozwinęły umiejętności samodzielnej nauki, poszukiwania informacji oraz przyswajania dużej ilości wiedzy w krótkim czasie. Różnorodność przedmiotów pozwoliła mi na sprawdzenie swoich predyspozycji zawodowych i wybór odpowiedniej ścieżki kariery.
          </p>
        </article>
        <article>
          <h3>Zespół Szkół nr. 3 w Sanoku</h3>
          <h4>
            <i>Informatyka o specjalności „Grafika komputerowa”</i> •
            <span>2007 – 2011</span>
          </h4>
          <p>
            W technikum o profilu informatycznym odbywało się sporo zajęć praktycznych, które utrwaliły zdobytą wiedzę, dzięki czemu mogła ona zostać wykorzystywana w dalszej nauce przedmiotu. Już wtedy rozpocząłem naukę programu Adobe Photoshop, w którym przyszło mi tworzyć pierwsze szablony stron www.
          </p>
        </article>
      </div>
    </div>
  </section>
</template>
