<template>
  <section class="homepage__list">
    <div class="container container--split">
      <h2>
        <span class="heading">PRACA</span>
      </h2>
      <div>
        <article>
          <h3>Cointelligence</h3>
          <h4>
            <i>Web Developer</i> •
            <span>Sierpień 2018 - obecnie</span>
          </h4>
          <p>
            W mojej aktualnej pracy zajmuję się tworzeniem rozwiązań web'owych dla grupy Cointelligence.
            Podstawa Wordpressa i duży nacisk na SEO sprawia, że warstwa front-end strony, musi być dograna w najdrobniejszych szczegółach
            by sprostać zarówno potrzebom licznych użytkowników portalu, jak również robotom Google'a.
            Praca rozwija moje umiejętności głównie w technologiach SEO, PHP oraz JS (Vue.js).
          </p>
        </article>
        <article>
          <h3>LemonUnit</h3>
          <h4>
            <i>Web Developer</i> •
            <span>Sierpień 2018 - obecnie</span>
          </h4>
          <p>
            Jest to moja dodatkowa praca dla młodego i ambitnego software house'u, który nie boi się krótkich deadline'ów i ciężkiej pracy.
            Wykonałem pod okiem CEO już kilka większych i mniejszych projektów.
            Dzięki którym zdobyłem wiedzę z chociażby <a href="https://lemonunit.com">tworzenia aplikacji</a> natywnych na telefony z wykorzystaniem Vue/React Native
            oraz aplikacji na desktopy z wykorzystaniem Electron.js.
          </p>
        </article>
        <article>
          <h3>G2A.COM</h3>
          <h4>
            <i>Front-end developer</i> •
            <span>Styczeń 2018 - Sierpień 2018</span>
          </h4>
          <p>
            Tworzenie aplikacji internetowych, takich jak G2A Loot oraz G2A Plus.
            Dzięki dynamicznemu wzrostowi firmy ilość jak i skomplikowanie zadań pozwoliło na powiększanie mojej wiedzy w procesie
            tworzenia zarówno stron jak i aplikacji internetowych. Przyszło mi również współpracować z wieloma doświadczonymi
            programistami, dzięki którym również podniosłem swoje umiejętności zarówno programistyczne, jak i miękkie.
          </p>
        </article>
        <article>
          <h3>G2A.COM</h3>
          <h4>
            <i>Specjalista SEO / WEB developer</i> •
            <span>Sierpień 2016 - Grudzień 2017</span>
          </h4>
          <p>
            Pracowałem w dziale marketingu, wykonując prace stricte techniczne.
            Jestem twórcą strony news.g2a.com, na której gracze z całego globu dostają świeże informację na temat gier.
            Dodatkowo zajmowałem się typowymi działaniami SEO, które są potrzebne do generowania większych przychodów firmy.
          </p>
        </article>
        <article>
          <h3>Performance Media</h3>
          <h4>
            <i>Młodszy specjalista SEO</i> •
            <span>Sierpień 2015 - Sierpień 2016</span>
          </h4>
          <p>
            Jedna z najlepszych firm marketingowych w kraju, dzięki której poznałem zaawansowane techniki SEO,
            procesy optymalizacyjne stron oraz sklepów internetowych. Zajmowałem się pełnym wachlarzem usług SEO –
            począwszy od wykrywania błędów na stronach internetowych i raportowania ich w dokumentach przedstawianych
            klientom firmy, po tworzenie marketingowych strategii content dla klientów.
          </p>
        </article>
        <article>
          <h3>LAVI sp. z o.o.</h3>
          <h4>
            <i>Informatyk firmy</i> •
            <span>Luty 2015 - Kwiecień 2015</span>
          </h4>
          <p>
            Firma LAVI była moją pierwszą firmą, w której pracowałem w swoim zawodzie.
            Jest to firma zajmująca się prowadzeniem dużego sklepu internetowego oraz sklepu na Allegro.
            Byłem odpowiedzialny za tworzenie oraz nadzór techniczny nad szablonami HTML, które były
            udostępniane na Allegro oraz za migrację firmy do programu SELLO, który w znacznym stopniu przyspieszył pracę biurową firmy.
          </p>
        </article>
        <article>
          <h3>Freelance</h3>
          <h4>
            <i>WEB developer</i> •
            <span>Marzec 2015 - obecnie</span>
          </h4>
          <p>
            Pomiędzy pracą na stanowisku, a wolnym czasem wykonuje zlecenia na strony internetowe.
            Prowadzę działalność gospodarczą, dzięki której mam możliwość wystawiania faktur VAT za
            swoje usługi. Wykonałem wiele zleceń, które przyniosły mi doświadczenie w procesie tworzenia stron www.
            W sekcji portfolio znajduje się kilka prac nieobjętych klauzulą poufności.
          </p>
        </article>
      </div>
    </div>
  </section>
</template>
