<template>
  <section class="homepage__list homepage__list--projects">
    <div class="container container--split">
      <h2>
        <span class="heading">OSTATNIE REALIZACJE</span>
      </h2>
      <div>
        <article>
          <h3>Eveline's Therapy</h3>
          <h4>
            <i>Wordpress</i> •
            <span>Maj 2019</span>
          </h4>
          <p>
            Strona <a href="http://evelinestherapy.com" rel="nofollow" target="_blank">Eveline's Therapy</a> została wykonana przy pomocy Wordpress CMS oraz template Divi, dzięki któremu właściciel strony, z łatwością może dokonywać na niej zmian.
            Projekt został przygotowany zarówno w wersji desktopowej jak i mobilnej. Strona została specjalnie przygotowana pod względem estetycznym, by wpasować się w gust klientek salonu.
          </p>
        </article>
        <article>
          <h3>Minnie Kryminalistka</h3>
          <h4>
            <i>Wordpress</i> •
            <span>Maj 2017</span>
          </h4>
          <p>
            Strona <a href="https://minnie-kryminalistka.pl" target="_blank">Minnie - Kryminalistka</a> została wykonana przy pomocy Wordpress CMS. Strona w głównej mierze koncentruje się na poprawnej optymalizacji zarówno prędkości jak i SEO.
            Optymalizacja SEO została wykonana na podstawie audytu zewnętrznego. Do strony została dodana wersja PWA.
          </p>
        </article>
      </div>
    </div>
  </section>
</template>
