<template>
  <section class="homepage__skills__modal">
    <div :style="`background-color:${skill.bg}`">
      <img :src="skill.image" :alt="`Jacob Sobota - ${skill.name}`">
      <h3>{{ skill.name }} <span>{{ skill.level }}</span></h3>
      <p v-html="skill.description" />
      <font-awesome-icon :icon="['fas', 'times']" class="close" @click="handleClose" />
    </div>
  </section>
</template>

<script>
  export default {
    props: {
      skill: {
        type: Object,
        default: function () {
          return
        }
      }
    },
    methods: {
      handleClose () {
        this.$emit('close')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .homepage__skills__modal {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .6);
    div {
      position: fixed;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      width: 540px;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
    }
    img {
      width: 50%;
      height: 100%;
      margin: 40px auto;
      max-height: 50vh;
      object-fit: cover;
      object-position: center;
    }
    h3 {
      background-color: #fff;
      margin: 0;
      display: flex;
      padding: 12px 16px;
      color: rgba(#000, .78);
    }
    span {
      font-size: 10px;
      color: rgba(#000, .54);
      margin-left: 4px;
    }
    p {
      background-color: #fff;
      padding: 12px 16px;
      line-height: 1.4;
    }
    .close {
      position: absolute;
      top: 16px;
      right: 16px;
      color: rgba(#000, .54);
      transition: color .2s ease;
      cursor: pointer;
      width: 24px;
      height: 24px;
      &:hover {
        color: rgba(#000, .78);
      }
    }
  }
</style>
